<div id='message_box'>
  <div id='directions_cont'>
    <div id='directions'><img src='/assets/directions.png'/></div>
    <div id='directions_close_button'><img src='/assets/close_button.png'/></div>
  </div>
  <div id='message'>
    This site is totally for private usage (you know, like studying), no copyright infringement intended<br>
    - please don't sue me -
  </div>
  <div id='reference'>
    Words from <a href='http://www.amazon.com/Word-Smart-GRE-2nd-Guides/dp/0375765778' target='_blank' id='reference_title'>The Princeton Review, Word Smart for the GRE 2nd Edition</a>
  </div>
</div>
<div id='card_cont'>
<div id='prev_button_cont' class='button_cont'><a href='#' id='prev_button' class='button'><img src='/assets/prev_button.png' /></a></div>
<div id='card'></div>
<div id='next_button_cont' class='button_cont'><a href='#' id='next_button' class='button'><img src='/assets/next_button.png' /></a></div> 
</div>
<div id='meaning'></div>
<script type='text/javascript'>
  
  var order = new Array();
  var num_words = 0;
  var curr_order_pos = 0;
  var flipped = false;
  
  function setup() {
    $.ajax({
      url: '/get_num_words',
      type: 'get',
      dataType: 'json',
      success: function(data) {
        num_words = data;
        getShuffledOrder();
      }
    });
  }
  
  function getShuffledOrder() {
    
    var temp = new Array();
    var i, tempLength = num_words;
    
    for (i = 0; i < num_words; i++) {
      temp[i] = i;
    }
    
    while (tempLength > 0) {
      var rand = Math.floor(Math.random()*tempLength);
      order[num_words - tempLength] = temp[rand] + 1;
      temp.splice(rand, 1);
      tempLength--;
    }
    
    displayWord(order[curr_order_pos]);
  }
  
  function displayWord(word_id) {
    $.ajax({
      url: '/get_word?id=' + word_id,
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $('#card').html(data.term);
        $('#meaning').html(data.meaning);
        $('#card').css('background-color', '#CCFF99');
      }
    });
  }
  
  function flipCard() {
    if (flipped) {
      $('#card').revertFlip();
    } else {
      $('#card').flip({
        direction: 'lr',
        content: $('#meaning').html(),
        color: '#eeeeee',
        speed: 'fast'
      });
    }
    flipped = !flipped;
    return false;
  }
   
  function displayPrevWord() {
    if (curr_order_pos > 0) {
      curr_order_pos--;
    } else {
      curr_order_pos = num_words-1;
    }
    flipped = false;
    displayWord(order[curr_order_pos]);
  }
  
  function displayNextWord() {
    if (curr_order_pos < num_words-1) {
      curr_order_pos++;
    } else {
      curr_order_pos = 0;
    }
    flipped = false;
    displayWord(order[curr_order_pos]);
  }
    
  $(document).ready( function() {
    setup();
    
    $('#directions_close_button').click( function() { 
      $('#message_box').fadeOut();
    }); 
    
    $('#card').click( function() {
      flipCard();
    });
    
    $('#prev_button').click( function(event) {
      event.preventDefault();
      displayPrevWord();
    });
    
    $('#next_button').click( function(event) {
      event.preventDefault();
      displayNextWord();
    });
    
    $('body').keydown( function(e) {
      if (e.which == 32) {
        flipCard();
      } else if (e.keyCode == 37) {
        displayPrevWord();
      } else if (e.keyCode == 39) {
        displayNextWord();
      }
    });
    
  });
  
</script>
